.dashboard {

    .col {
        padding: 10px;

        .dashboard-header {
            text-transform: uppercase;
        }

        .dashboard-access {
            font-weight: 600;
            margin: 5px 0;

            span {
                color: var(--color-primary);
            }
        }

        .recent {
            width: 100%;
            display: flex;
            gap: 10px;

            .recent-content {
                margin: 10px 0;

                .recent-text {
                    text-transform: capitalize;
                }
            }

            .families {
                flex: 1;
//                 background-color: green;
            }

            .mahals {
                flex: 1;
//                background-color: greenyellow;
            }
        }
    }
}